一、資料清洗_訓練資料集

In [11]:
import pandas as pd

In [12]:
df1=pd.read_csv("train.csv")
df1

,ID,TS,X01,X02,X03,X04,X05,X06,X07,X08,...,X16,X17,X18,X19,X20,X21,X22,X23,X24,Y
0,1,2018/1/1 0:00,41.83,124.94,263.22,300.57,10.35,10.39,10.32,90.28,...,7.37,18.0,3776.31,24.0,0.05,10.35,7.93,78.01,358689.0,3
1,2,2018/1/1 0:06,41.97,125.30,262.12,300.53,10.33,10.40,10.34,89.50,...,7.40,18.0,3760.59,24.0,0.00,9.67,7.97,78.08,339139.0,3
2,3,2018/1/1 0:12,41.90,125.00,261.45,300.29,10.35,10.41,10.33,89.74,...,7.44,18.0,3754.59,24.0,0.00,9.68,7.98,79.50,326082.0,3
3,4,2018/1/1 0:18,42.33,125.25,262.12,298.94,10.31,10.41,10.33,89.69,...,7.47,18.0,3746.73,8.0,5.28,10.92,7.95,80.07,321295.0,3
4,5,2018/1/1 0:24,42.37,125.03,262.94,301.73,10.33,10.40,10.32,90.20,...,7.50,18.0,3748.58,8.0,4.60,11.12,7.94,79.96,339248.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20616,20617,2018/3/30 0:54,40.66,124.73,262.06,300.62,10.65,10.53,11.11,154.49,...,8.96,32.0,4910.45,9.0,632.11,344.40,7.70,77.49,291896.0,2
20617,20618,2018/3/30 1:00,43.77,126.15,267.76,304.75,10.64,10.57,11.06,157.19,...,8.97,32.0,4903.61,9.0,632.89,347.96,7.67,77.98,289563.0,2
20618,20619,2018/3/30 1:06,41.27,124.20,262.99,300.61,10.65,10.57,11.03,157.85,...,8.88,32.0,4898.89,9.0,628.78,355.65,7.66,78.58,293656.0,2
20619,20620,2018/3/30 1:12,41.39,124.99,262.99,298.91,10.68,10.59,11.05,156.53,...,8.89,32.0,4899.63,9.0,629.43,355.90,7.67,78.62,293181.0,2
20620,20621,2018/3/30 1:18,42.85,125.39,266.16,302.25,10.66,10.56,11.08,154.45,...,8.83,32.0,4888.82,9.0,631.65,279.31,7.65,79.01,292206.0,3

In [13]:
df1.dtypes

ID       int64
TS      object
X01    float64
X02    float64
X03    float64
X04    float64
X05    float64
X06    float64
X07    float64
X08    float64
X09    float64
X10    float64
X11    float64
X12    float64
X13    float64
X14    float64
X15    float64
X16    float64
X17    float64
X18    float64
X19    float64
X20    float64
X21    float64
X22    float64
X23    float64
X24    float64
Y        int64
dtype: object

In [14]:
df2=df1.drop(columns=["TS"],axis=1)
df2

,ID,X01,X02,X03,X04,X05,X06,X07,X08,X09,...,X16,X17,X18,X19,X20,X21,X22,X23,X24,Y
0,1,41.83,124.94,263.22,300.57,10.35,10.39,10.32,90.28,261.76,...,7.37,18.0,3776.31,24.0,0.05,10.35,7.93,78.01,358689.0,3
1,2,41.97,125.30,262.12,300.53,10.33,10.40,10.34,89.50,268.51,...,7.40,18.0,3760.59,24.0,0.00,9.67,7.97,78.08,339139.0,3
2,3,41.90,125.00,261.45,300.29,10.35,10.41,10.33,89.74,263.78,...,7.44,18.0,3754.59,24.0,0.00,9.68,7.98,79.50,326082.0,3
3,4,42.33,125.25,262.12,298.94,10.31,10.41,10.33,89.69,260.09,...,7.47,18.0,3746.73,8.0,5.28,10.92,7.95,80.07,321295.0,3
4,5,42.37,125.03,262.94,301.73,10.33,10.40,10.32,90.20,262.26,...,7.50,18.0,3748.58,8.0,4.60,11.12,7.94,79.96,339248.0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20616,20617,40.66,124.73,262.06,300.62,10.65,10.53,11.11,154.49,765.99,...,8.96,32.0,4910.45,9.0,632.11,344.40,7.70,77.49,291896.0,2
20617,20618,43.77,126.15,267.76,304.75,10.64,10.57,11.06,157.19,768.79,...,8.97,32.0,4903.61,9.0,632.89,347.96,7.67,77.98,289563.0,2
20618,20619,41.27,124.20,262.99,300.61,10.65,10.57,11.03,157.85,748.09,...,8.88,32.0,4898.89,9.0,628.78,355.65,7.66,78.58,293656.0,2
20619,20620,41.39,124.99,262.99,298.91,10.68,10.59,11.05,156.53,749.15,...,8.89,32.0,4899.63,9.0,629.43,355.90,7.67,78.62,293181.0,2
20620,20621,42.85,125.39,266.16,302.25,10.66,10.56,11.08,154.45,763.38,...,8.83,32.0,4888.82,9.0,631.65,279.31,7.65,79.01,292206.0,3

In [15]:
df2.isna().sum()

ID     0
X01    0
X02    0
X03    0
X04    0
X05    0
X06    0
X07    0
X08    0
X09    0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
X24    0
Y      0
dtype: int64

In [16]:
df2.to_csv("Final_Train.csv",index=False,encoding='utf-8-sig')

二、資料清洗_測試資料集

In [17]:
file1=pd.read_csv("test.csv")
file1

,ID,TS,X01,X02,X03,X04,X05,X06,X07,X08,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24
0,1,2018/1/1 5:12,41.61,124.91,262.32,300.96,10.36,10.40,10.33,93.21,...,6416.88,7.32,18.0,3605.31,8.0,114.12,26.99,7.94,79.36,314391.0
1,2,2018/1/1 5:42,40.98,125.06,259.96,297.68,10.36,10.42,10.33,86.64,...,6398.13,7.20,18.0,3574.34,30.0,0.00,18.96,7.93,77.41,308945.0
2,3,2018/1/1 5:54,41.55,124.87,261.75,299.36,10.34,10.40,10.33,88.41,...,6396.88,7.27,18.0,3542.92,30.0,0.00,19.77,7.95,79.74,301684.0
3,4,2018/1/1 9:00,41.72,124.96,261.59,297.80,10.34,10.38,10.33,86.41,...,6417.50,8.04,18.0,3436.62,10.0,832.15,40.83,7.91,88.66,287037.0
4,5,2018/1/1 14:18,42.87,125.09,264.50,302.26,10.36,10.23,10.47,90.97,...,6437.50,7.68,22.0,4225.99,13.0,1232.97,6.19,7.84,82.65,308094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,2018/3/29 9:12,41.93,125.54,265.21,301.49,10.68,10.42,11.07,151.99,...,5915.25,9.32,42.0,4118.58,8.0,502.86,267.07,7.53,77.24,294344.0
496,497,2018/3/29 9:30,41.08,124.83,263.59,300.03,10.62,10.41,11.05,153.01,...,5917.88,9.28,42.0,4110.08,20.0,1091.41,238.38,7.57,80.42,295670.0
497,498,2018/3/29 19:18,41.61,124.85,264.60,300.65,10.66,10.42,11.07,166.14,...,5931.38,8.52,32.0,5154.47,11.0,900.89,27.45,7.64,77.52,292249.0
498,499,2018/3/29 21:42,41.97,125.13,265.30,302.42,10.65,10.40,11.07,159.18,...,5907.25,8.76,32.0,5054.18,7.0,288.92,251.37,7.62,78.14,289418.0
499,500,2018/3/29 23:00,41.05,125.10,261.79,290.63,10.65,10.55,11.05,158.30,...,5930.75,9.07,32.0,4964.61,6.0,300.52,289.78,7.51,78.77,294423.0

In [18]:
file2=file1.drop(columns=["TS"],axis=1)
file2

,ID,X01,X02,X03,X04,X05,X06,X07,X08,X09,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,X24
0,1,41.61,124.91,262.32,300.96,10.36,10.40,10.33,93.21,268.58,...,6416.88,7.32,18.0,3605.31,8.0,114.12,26.99,7.94,79.36,314391.0
1,2,40.98,125.06,259.96,297.68,10.36,10.42,10.33,86.64,261.86,...,6398.13,7.20,18.0,3574.34,30.0,0.00,18.96,7.93,77.41,308945.0
2,3,41.55,124.87,261.75,299.36,10.34,10.40,10.33,88.41,270.73,...,6396.88,7.27,18.0,3542.92,30.0,0.00,19.77,7.95,79.74,301684.0
3,4,41.72,124.96,261.59,297.80,10.34,10.38,10.33,86.41,282.72,...,6417.50,8.04,18.0,3436.62,10.0,832.15,40.83,7.91,88.66,287037.0
4,5,42.87,125.09,264.50,302.26,10.36,10.23,10.47,90.97,279.16,...,6437.50,7.68,22.0,4225.99,13.0,1232.97,6.19,7.84,82.65,308094.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,496,41.93,125.54,265.21,301.49,10.68,10.42,11.07,151.99,811.54,...,5915.25,9.32,42.0,4118.58,8.0,502.86,267.07,7.53,77.24,294344.0
496,497,41.08,124.83,263.59,300.03,10.62,10.41,11.05,153.01,809.94,...,5917.88,9.28,42.0,4110.08,20.0,1091.41,238.38,7.57,80.42,295670.0
497,498,41.61,124.85,264.60,300.65,10.66,10.42,11.07,166.14,678.14,...,5931.38,8.52,32.0,5154.47,11.0,900.89,27.45,7.64,77.52,292249.0
498,499,41.97,125.13,265.30,302.42,10.65,10.40,11.07,159.18,751.17,...,5907.25,8.76,32.0,5054.18,7.0,288.92,251.37,7.62,78.14,289418.0
499,500,41.05,125.10,261.79,290.63,10.65,10.55,11.05,158.30,776.94,...,5930.75,9.07,32.0,4964.61,6.0,300.52,289.78,7.51,78.77,294423.0

In [19]:
file2.isna().sum()

ID     0
X01    0
X02    0
X03    0
X04    0
X05    0
X06    0
X07    0
X08    0
X09    0
X10    0
X11    0
X12    0
X13    0
X14    0
X15    0
X16    0
X17    0
X18    0
X19    0
X20    0
X21    0
X22    0
X23    0
X24    0
dtype: int64

In [20]:
file2.to_csv("Final_Test.csv",index=False,encoding='utf-8-sig')